/* estilos.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Billabong&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #000;
  border: 1px solid #333;
  padding: 40px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
}

.logo {
  margin-bottom: 25px;
}

.logo-img {
  height: 80px; /* Puedes aumentar aún más si lo deseas */
  object-fit: contain;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #333;
  background-color: #121212;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.login-button {
  width: 100%;
  background-color: #0095f6;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 0;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #8e8e8e;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #333;
}

.divider span {
  margin: 0 10px;
}

.facebook-button {
  background: none;
  color: #0095f6;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.facebook-button img {
  height: 18px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.forgot {
  font-size: 13px;
  color: #b3b3b3;
  margin-top: 10px;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
}

.signup a {
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}

.download {
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.store-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.store-buttons img {
  height: 40px;
  cursor: pointer;
}
